*{
margin: 0;
padding: 0;
}

a, a:visited, a:active{text-decoration: none;color:#000;}

html, body{
height: 100%;
}

/* by www.fonts2u.com  
@font-face {font-family:"Un Dotum";src:url("UnDotum.eot?") format("eot"),url("UnDotum.woff") format("woff"),url("UnDotum.ttf") format("truetype"),url("UnDotum.svg#UnDotum") format("svg");font-weight:normal;font-style:normal;}
*/

body{
min-height: 100%;
background:url(../imgs/bg.jpg) 0 0 repeat;
font:normal 14px/normal 'Quando', Verdana, sans-serif;
text-align: center;
}

.left{float:left;}
.right{float: right;}
.hidden{display: none;}

#topo{
height:150px;
text-align:center;
}

#topo h1{text-indent: -99999em;float: left;}
#topo h1 a{margin: 50px 0 0 5px;display: block;background: url(../imgs/logo.png) no-repeat;width: 343px;height: 75px;}

h2{color:#d80000;font-weight: normal;}

#navegacao{
float: right;margin: 75px 0 0 5px; font-size: 1.8em;
}
#main_menu li{
border-right: 1px solid #fff;
display: inline;
padding: 0.5em 1em;
}
#main_menu li.last{border-right: 0px;}
#main_menu li a{color: #4c4c4c;}
#main_menu li.active a{color:#d80000;}

#banner{
overflow: hidden;
width: 1000px;
background-color: #CCC;
}

#banner a{color:white;}

.alpha_bar h1 {
font-size: 24px;
margin-bottom: 15px;
}

#conteudo{
background: url(../imgs/bgconteudo.png) repeat-x #ccc;
padding: 0 1%;
overflow: hidden;
}

#bgconteudo{
background-color: #fff; width: 98%; margin: 2% auto 0 auto; padding: 2% 1% 0 1%;
border-bottom: 4px solid #4c4c4c;
}

#colCorpoPrincipal{
display: inline-block;
margin: 0 auto;
text-align: left;
position: relative;
min-height: 100%;
width: 1000px;
margin-bottom: 180px;
}

#bgcorpo{
background: url(../imgs/bgbanner.jpg) center 200px repeat-x;
position:relative;
}

#colEsq {
display: inline-block;
float:left;
height: 100%;
width: 45%;
margin: 0 0 0 1%;
}

.conteudoEsq {
margin: 0 auto;
width: 100%;
}

#colCentral {
display: inline-block;
float: right;
width: 53%;
}

#blog{
height: 400px;
}

#blog div{border-bottom: 1px solid #dfe4dd; padding: 10px 0;}
#blog div.first{padding-top: 30px;}
#blog .buttons{width: 200px; height: 1em; border:none;}

#depo{
height: 400px;
}

#depo p{width: 250px;}
#depo img{margin: 10px 0 0 10px;background-color: #eee; padding: 5px;}
#depo div{float: left;margin:20px 0 40px 0;}
#depo .quem{margin-top:1em;display: block;font-style: italic;}

#galeria{
height: 400px;
background: url(../imgs/iconmap.jpg) -102px 10px no-repeat;
}

#galeria img{padding: 1px;border: 1px solid;}

#galeria div{
margin: 30px 0 0 20px;
}

#galeria span{
width: 100%; float: right;
}

#local{height: 480px;background: url(../imgs/flor.jpg) right bottom no-repeat;}
#local div{margin: 20px 0 0 20px;}
#local small a{color:#000;text-decoration: underline;}

#rodape{
background: url(../imgs/bgrodape.jpg) 0 0 repeat-x;
bottom:0;
color: #fff;
font-size: 1.6em;
min-height:90px;
padding-top: 20px;
position: absolute;
width: 100%;  
}

/**outros*/
.asp_on,
.asp_off{
background: url(../imgs/iconmap.jpg) 0 0 no-repeat;
height: 36px;
width: 40px;
display: inline-block;
margin-top: 1em;
}

.asp_off{background-position: -55px 0;float: right;}

/*Blog*/

#interna{
min-height: 800px;
}

#disqus_thread{margin-top: 2em;width: 600px;}

.pop a{
display: block;
background: url(../imgs/comentario.png) no-repeat center 6px;
width: 2em;
text-align: center;
overflow: hidden;
padding: 7px 0 0px 0px;
height: 21px;
float: left;
}

.fb_edge_widget_with_comment{
padding: 5px 0 0 5px;
}

.texto p{margin-bottom: 1em;}
#empresa .texto{margin-top: 1em;}
#empresa #colEsq{width: 98%;}
.pagtexto #colEsq {width: 98%;}
#paginablog .texto,
#paginablog .post{margin-bottom: 2em;}
#paginablog .texto{margin-top: 1em;}
#paginablog .post p a{text-decoration: underline;}