html, body{
height: 100%;
}


body{
min-height: 100%;
}

.inset{
  padding: 25px;
}

.inset_right{
  padding-right: 25px;
}


#topo h1{text-indent: -99999em;float: left;}
#topo h1 a{margin: 0;display: block;background: url(../imgs/logo.png) no-repeat center center transparent;width: 156px;height: 156px;}
#topo {background: url('../imgs/topo.jpg') no-repeat right center  #fff;height: 402px; color: #fff;}


#main_menu{background-color: #000; margin: 0; padding: 0}
#main_menu li, li{margin: 0; list-style: none;}
#main_menu li a{color: #fff; text-decoration: none;display: block; text-align: center; padding: 0.5em 0em; margin: 0; font-size: 1em }
#main_menu li.active a{color:#fff;}
#main_menu li a:hover{color:#000; background-color: #FFF}

.page{
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  padding: .5em;
}

.content{
  padding: 1em .5em;
}

.seguradoras {
  display: block;
  /*border: 1px solid #000;*/
  max-width: 900px;
  min-height: 400px;
  margin: 0 auto;
}

.seguradoras li{
border: 1px solid #ccc;
/*float: left;*/
height: 350px;
margin: 15px auto;
overflow: hidden;
padding: 5px;
position: relative;
/*width: 262px;*/
width: 262px;
text-align: center;
display: inline-block;
}

.seguradoras li img{
  margin: 0 auto;
  display: block;
}

.seguradoras li h2,
.seguradoras li h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em;
  width: 300px
}

#home ul.seguradoras{
   display: block;
}

#home ul.seguradoras li{
  float: left;
  margin: 5px;
  /*border: none;*/
}

#home .seguradoras li h2{
  font-size: 1.3em;
  width: inherit;
}

#home .seguradoras li h3{
  position: relative;
  font-size: 1.1em;
  width: inherit;
}

.seguradoras li h2{
  font-size: 1.6em;
  position: relative;
}

input, textarea{
  width: 100%;
}

header{ position: relative; display: block;}
header nav{
  display: block;
  width: 100%;
}

footer{
background-color: #000;
/*bottom:0;*/
color: #fff;
min-height:90px;
padding-top: 20px;
/*position: absolute;*/
width: 100%;
}

footer div{
  text-align: center;
  width: 100%;
}

.developedby{
  text-align: right;
  color: #fff;
  font-size: .5em;
}

#form_warning{
  color: #990000;
  margin-bottom: 5px
}

input.error{
 background-color: #FFFC7F;
}

@media (min-width: 750px) {
#main_menu li{
width: 33.3333%;
}
}
